@import "bootstrap-icons/font/bootstrap-icons.css";;

html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  margin: 0;
  padding: 0;
  user-select: none;
}
html, body, #root {
  height: 100%;
}
i {
  display: block;
  cursor: pointer;
  transition: transform .3s, opacity .3s;
}
i:hover {
  transform: scale(1.05);
}
i:active {
  opacity: .4;
}
span {
  transition: opacity .3s;
}
.inactive i, .inactive span {
  opacity: .5 !important;
  cursor: auto !important;
}
.inactive i:hover {
  transform: none !important;
}
.inactive i:active {
  opacity: .5 !important;
}
#clock-container {
  background: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  min-height: 100%;
}
#clock {
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(25px);
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  box-shadow: 5px 5px 25px #1a1a1a;
}
#clock-settings {
  display: flex;
}
#clock-settings span {
  margin: 0 .7rem;
}
.settings-section {
  padding: 2rem;
  text-align: center;
}
.settings-section .label {
  margin-bottom: 1rem;
}
.settings {
  display: flex;
  justify-content: center;
}
#clock-display {
  text-align: center;
  margin: 3rem 0;
  font-size: 3rem;
}
#time-left {
  font-size: 6rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  transition: color .3s;
}
#time-left::before {
  position: absolute;
  top: -1rem;
  left: -1rem;
  content: "";
  height: calc(100% + 2rem);
  width: calc(100% + 2rem);;
  z-index: -1;
  background: radial-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0) 70%);
}
.timeIsUp {
  color: #f00030 !important;
}
.timeIsUp::before {
  background: radial-gradient(rgba(240,0,48,.2), rgba(240,0,48,0) 70%) !important;
}
#clock-controls {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
#clock-start-stop {
  margin-right: 1rem;
}
footer {
  margin-top: 2rem;
  color: #fff;
  font-weight: 100;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}